{% extends 'base.html.twig' %}

{% block title %}
    ADD COURSE
{% endblock %}

{% block body %}
<div class = "OutsideAdd">
    <div class="container-fluid mt-3">
    <h2 class="text-center"> Add New Course</h2>

    <div class="">
        {{form_start(form)}}
        
        {{form_end(form)}}
    </div>

</div>

</div>
{% endblock %}
