<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"

</head>
<body>
    <div class="container">

        <div class="loginBox">

            <div class="greeting">
                <h2>Login</h2>
            </div>
            
            <div class="social-icons">
                <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png">  
                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png"> 
                <img src="https://cdn-icons-png.flaticon.com/512/1409/1409937.png"> 
            </div>

            <div class="formInput">
                <form>
                    <input type="text" class="inputAccount" placeholder="Account" required>
                    <input type="text" class="inputPassword" placeholder="Enter password" required>
                    <input type="checkbox" class="checkBoxLogin"><span>Remember Password</span>
                    <button type="submit" class="btnLogin">Log In</button>
                 </form>
            </div>
        
        </div>

    </div>
    
</body>
</html>