{% extends 'base.html.twig' %}


{% block body %}
    <!-- Content -->
    <div class="main_Content">

        <div class="btnAddStudent">
                <a href="{{ path ('addStudent')}}"> 
                    <button>Add Student</button>
                </a>
        </div>

        <div class="tableShowListStudent">
        </div>

    </div>

            <!-- (End) Content -->
{% endblock %}